#map {
    display: flex;
    justify-content: center;
    padding-top: 70px;
    position: relative;
}

#map .content{
    width: 100%;
    height: 500px;
}

#locationMarker .dot {
    width: 15px;
    height: 15px;
    background-color: rgb(23, 139, 248);
    border-radius: 50%;
}

#Board {
    width: 300px;
    height: 400px;
    background-color: #e9e9f2;
    position: fixed;
    right: 50px;
    top: 100px;
    z-index: 2222;
    opacity: .7;
    display: flex;
    flex-direction: column;
    justify-items: center;
    padding: 10px;
    overflow-y: scroll
}
#Board .filter {
    display: flex;
}
#Board .filter .btn {
    flex: 1;
    background-color: #000000;
    color: white;
    cursor: pointer;
}
#Board .filter .btn:hover {
    background-color: #ffffff;
    color: black;
}
#Board .location_unit {
    cursor: pointer;
}
#Board .location_unit h5:hover {
    background-color: brown;
    color: white;
}

h5 {
    padding: 5px 0;
    margin: 0;
    text-align: left;
}

#informationBlock {
    min-width: 200px;
    height: 100px;
    padding: 10px;
    background-color: #ffffff;
    position: fixed;
    left: 50px;
    top: 100px;
}

.hide {
    display: none;
}